<head>
<link href="<%= url('/css/main.css') %>" rel="stylesheet" type="text/css" />
<title>
Name Game
</title>
</head>
<body>
    <div class = "center-body"> 
        <%= yield %>
    </div>
</body>
<footer>
    <div class="footer-text"> 
        This program was created by Jim Fedders
        <br>
        January 2018
    </div>
</footer>


<IMG STYLE="position:relative; TOP:-250px; LEFT:-30%; WIDTH:17%" SRC="images//newriverlogo-regular.png">

<IMG STYLE="position:relative; TOP:-250px; LEFT:30%; WIDTH:13%" SRC="images//code_camp.jpg">