<head>
<link href="<%= url('/css/main.css') %>" rel="stylesheet" type="text/css" />
<title>
Name Game
</title>
</head>
<body>
    <div class = "center-body"> 
        <%= yield %>
    </div>
</body>
<footer>
    <div class="footer-text"> 
        This program was created by Jim Fedders
        <br>
        January 2018
    </div>
</footer>

<IMG STYLE="position:absolute; TOP:70px; LEFT:710px; WIDTH:100px; HEIGHT:100px" SRC="images//code_camp.jpg">

<IMG STYLE="position:absolute; TOP:70px; LEFT:80px; WIDTH:18% " SRC="images//newriverlogo-regular.png">