<h1>Welcome!!</h1> 
<br>
<h2>This page will find the members of the 
<br>
 New River Community College 2017-2018 computer coding class</h2>
<br>
<br>
<h2>Enter a first name to find the last name 
	<br>and a picture of a class member:
</h2>

<form method="post" action="first_name_out">
	<input type="integer" name="first_name">
	<br><br>

	<input type="submit">
</form>	