body {
	background-color: lightblue;
	color: black;
	/*background-image: url(/../images/names.jpg);*/
	
	font-size: 10px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
}

h1 {font-size: 22px;}



p {
  	color: black;
  	font-size: 18px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
  	border-top: solid;
  	border-color: darkblue;
  	text-align: center;
  	position: fixed;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 10%;
}

.footer-text {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.center-body {
/*	position: absolute;
	top: 25%;
	transform: translateX(90%);
	text-align: center;*/
}

/*.left {
	  position: absolute;
    left: 20px;
    top: 20px;

}

.right {
	  position: absolute;
    left: 2000px;
    top: 20px;
	}*/